<footer class="mt-3">
  <div class="container d-flex py-4">

    <div class="d-inline-block mb-3 mr-5">
      <img src="/assets/logo.svg" width=62 height=62 class="logo">
    </div>

    <div class="ml-auto text-right">
        <a class="text-muted ml-4" href="/contact">Contact</a>
        <a class="text-muted ml-4" href="/brand">Brand</a>
        <a class="text-muted ml-4" href="/oem">OEM</a>
        <a class="text-muted ml-4" href="/privacy">Privacy</a>
        <small class="d-block text-muted mt-1">Proudly hosted by <a href="https://fosshost.org">Fosshost</a></small>
        <small class="d-block text-muted mt-1">&copy;&thinsp;2018-{{"today" | date: "%Y"}} carbonOS</small>
    </div>

  </div>
</footer>
